<!DOCTYPE html>
<html>
    <head>
    	<title>Larry Osakwe</title>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link rel="stylesheet" href="/stylesheets/index.css">
	</head>
    <body>
        
    <!-- *****HEADER***** -->
    <header class="header">
        <div class="container">
            <img class="profile-image img-fluid float-left rounded-circle" src="https://scontent.fsjc1-3.fna.fbcdn.net/v/t1.0-9/14570283_10211567294804359_8814945075747139659_n.jpg?_nc_cat=0&oh=5bd2e7fe16a881141a9ec3761887dd07&oe=5B72463D">
            <div class="profile-content pull-left">
                <h1 class="name">Larry Osakwe</h1>
                <h2 class="desc">Oregon State University Computer Science Student</h2>   
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/larry-osakwe-27395a54/"><i class="fa fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/Larry-Osakwe"><i class="fa fa-github-alt"></i></a></li> 
                    <li class="list-inline-item"><a href="https://twitter.com/LaireLaFlare"><i class="fa fa-twitter"></i></a></li>                  
                </ul> 
            </div>       
        </div>
    </header>

	</body>
</html>
